/* container that holds article box and recommendation box */
.container {
    display: flex;
    flex-direction: row;
}

/* holds all article stuff */
.article {
    padding: 10px;
}

/* newtag, for subject */
.newtag{
    color: #2D3577;
font-family: Inter;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

/* title obv */
.title {
    font-size: 70px !important;
    margin-bottom: 20px;
}

/* box that allows images to be centered */
.image_box {
    display: flex;
    justify-content: center !important;
}

/* headline image */
.header_image {
    max-width: 70%;
    justify-content: center;
    height: auto;

}

.double_image {
    width: 48%;
    justify-content: center;
    flex-direction: row;
    height: auto;
}

/* caption */
.caption {
    display: flex;
    justify-content: center;
    text-align: center;
    font-style: italic;
}

/* content of article */
.text {

}

/* container for recommended articles */
.recommended {
    display: flex;
    flex-direction: column;
    width: 480px !important;
    position: sticky;
    top: 300px;
}

/* box that contains rec article formatting */
.recArticle {
    /* make width match that of rec boxes in home page */
    width: 480px !important;
    display: grid;
    grid-template-columns: 50% 50%; 
    grid-template-rows: auto;
    position: sticky;
}

.im{
    width: 100%;
    position: sticky;
}

.title1{
    font-size: medium;
    position: sticky;
}

#rec1 {
    position: sticky;
    top: 100px;
}

#rec2 {
    position: sticky;
    top: 250px;
}

#rec3 {
    position: sticky;
    top: 400px;
}

/* so this doesnt actually work, but good for reference */
hr {
    color: '#2D3577' !important;
    height: '3px' !important;
    background-color: '#2D3577' !important;
    opacity: '70%' !important;
}

/* footer design, could prob be copied to other places if needed */
footer {
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: #2D3577 !important;
    opacity: 100%;
    vertical-align: middle;
    line-height: 100px;
    color: white;
    font-size: 24px;
    margin-top: 50px;
}