.mainstory{
    width: 100vw;
height: 419px;
display: grid;
grid-template-columns: 50% 50%;
grid-template-rows: auto;
}

.imger{
    width: 100%;
}
.grider{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
border-style: hidden;
}



.newtag{
    color: #2D3577;
font-family: Inter;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.title{
    color: #000;
font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: normal; 
}
.blurb{
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

.sidestorys{
    width: 100vw;
height: 419px;
display: grid;
grid-template-columns: 33.33% 33.33% 33.33%;
grid-template-rows: auto;
border-radius: 10px;
border-color: red;
border-style: solid;
}

.sidestory{
    display: flex;
    flex-direction: row;
    border-radius: 15px;
border-style: dotted;
border-color: forestgreen
}
.imger1{
    padding-top: 50%;
    width: 100%;
    border-radius: 15px;
border-style: dashed;
border-color: forestgreen
}
.sidecontent{
    display: flex;
    flex-direction: column;
    flex
}
.newtag1{
    color: #2D3577;
font-family: Inter;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.title1{
    color: #000;
font-family: Inter;
font-size: 28px;
font-weight: 700;
}

