.navbar {
    background-color: #2D3577 !important;
    color: #2D3577 !important;
    width: 100% !important;
    text-align: right !important;
    justify-content: right !important;
    font-size: 40px;

}

.navdrop {
    background-color: #2D3577 !important;
}
