.qoute{
    color: #000;
    /* font-family: Inter !important; */
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
    font-size: 50px;
    overflow: wrap;
    text-align: center;
    margin-bottom: 9;
  
  }