.qoute{
    color: #000;
    /* font-family: Inter !important; */
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  
  }